* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: gray;
}
.header {
  display: flex;
  justify-content: space-around;
}
.top {
  background-color: white;
  margin-top: 31px;
  border-radius: 15px;
  width: 440px;
}
.circle {
  display: flex;
  justify-content: space-around;
}
.top_header {
  background-color: #f4f3f8;
  height: 40px;
  text-align: center;
  font-size: 21px;
}
.table {
  padding: 15px;
}
.progress {
  padding: 9px;
}
.ant-table-pagination.ant-pagination {
  display: none;
}
.ant-table-thead {
  background-color: #94b3f6;
}
.progress_circle h4{
  width: 100px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ttt{
  background-color: red;
  height: 200px;
  width: 200px;
}